<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CSE 435</title>
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/index.css') }}">
	<!-- <link rel="icon" href="../static/main/images/basketball.ico" type="image/x-icon"/> -->
  {% block extracss %}{% endblock %}
  {% block extrajs %}{% endblock %}
</head>

<body>

  <header>
    <h1>layout test</h1>
  </header>
  <main>
    {% block maincontent %}{% endblock %}
  </main>

<!-- <script src="{{ url_for('static', filename='main/js/main.js') }}" defer></script> -->








